
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
  margin: 0;
  padding: 0; 
  box-sizing: bordor-box; 
}

body {
  font-family: "Karla", sans-serif;/*
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
  display: flex; 
  justify-content: center; 
  align-items: center;
  min-height: 100vh; 
  background: #c4f6fb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
